body {
  color: black;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff5ef;
	max-width: 550px;
	padding: 1.5em 4em 1.5em 4em; /* update for 0 padding on mobile */
	margin-inline: auto;
}

/* Main grid box */
.main-box {
  display: grid;
  grid-template:
    "header header"
    "nav picture"
    "footer footer"
    / 1fr 2fr;
  gap: 1em;
}

/* Main grid box with horizontal navbar */
.content-main-box {
  display: grid;
  grid-template:
    "header header header"
    "nav nav nav"
    "content content content"
    "content content content"
    "footer footer footer"
    / 1fr 2fr;
  gap: 1em;
}

.header {
  padding-left: 0.2em;
  grid-area: header;
  font-size: 100%;
  position: relative;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 0.2cm;
  letter-spacing: 0;
  transition: letter-spacing 300ms ease-out 200ms
}

/* Animate orbit */
.header .orbit-planet {
  position: absolute;
  background-color: black;
  height: 5px;
  width: 5px;
  opacity: 0;
  margin: 0;
  padding: 0;
  top: 27%;
  left: 13.5%;
  border-radius: 100%;
}

.header h1:hover + .orbit-planet {
  animation: circle-orbit 4s
}

@keyframes circle-orbit {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) rotate(0deg);
  }

  90% {
    opacity: 1;
    transform: rotate(360deg) translateX(60px) translateY(15px) rotate(-360deg);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg) translateX(60px) translateY(15px) rotate(-360deg);
  }
}

.header h4 {
  font-size: 1.2em;
  margin-top: 0.2cm;
  font-style: italic;
}

.navbar {
  grid-area: nav;
  font-size: 1.2em;
}

.nav p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.2em;
  background-color: inherit;
}

/* Horizontal navbar */
.nav ul {
  text-align: left;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: inherit;
  display: inline-block;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: black;
}

/* Animate color backgrounds on navbar */
.nav #home {
  transition: scale 300ms ease-in 20ms, background-color 300ms ease-in 20ms;
}

.nav #home:hover {
  scale: 110%;
  background-color: #feffa3;
}

.nav #about-me {
  transition: scale 300ms ease-in 20ms, background-color 300ms ease-in 20ms;
}

.nav #about-me:hover {
  scale: 110%;
  background-color: #ffd4e5;
}

.nav #portfolio {
  transition: scale 300ms ease-in 20ms, background-color 300ms ease-in 20ms;
}

.nav #portfolio:hover {
  scale: 110%;
  background-color: #d4ffea;
}

.nav #resume {
  transition: scale 300ms ease-in 20ms, background-color 300ms ease-in 20ms;
}

.nav #resume:hover {
  scale: 110%;
  background-color:  	#eecbff;
}

.nav #contact {
  transition: scale 300ms ease-in 20ms, background-color 300ms ease-in 20ms;
}

.nav #contact:hover {
  scale: 110%;
  background-color: #dbdcff;
}

.photo {
  grid-area: picture;
  width: 100%;
  height: 100%;
  text-align: center;
}

.photo img {
  width: 200px;
  height: 100%;
  display: inline-block;
  border-radius: 5px;
}

.text-blurb {
  grid-area: picture;
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
}

.content {
  grid-area: content;
  width: 100%;
}

.boxes {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
}

.boxes div {
  border: #dbcfc8 solid 4px;
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  transition: scale 300ms;
  cursor: pointer;
}

.boxes p {
  margin: 10px;
  padding: 2px;
  display: inline-block;
  background-color: rgba(255, 244, 230, 0.8);;
  border-radius: 7px;
}

.boxes div:hover {
  scale: 115%;
}

.boxes #project-one {
  grid-area: 1 / 1 / 2 / 3;
  background-image: url("/images/qsim.png");
}

.boxes #project-two {
  grid-area: 1 / 3 / 3 / 4;
  background-image: url("/images/galaxy_vae.png");
}

.boxes #project-three {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url("/images/real_chua.jpg");
}

.boxes #project-four {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("/images/ising_model.png");
  background-color: white; /* Ising model image has transparent background */
}